<div class = "content">

    <div class = "logo">
        <img src = "../../assets/logo.png"><br>
        <select class="nombre">
            <option value="">Sélectionnez le nombre de joueurs</option>
            <option value="4">4 joueurs</option>
            <option value="5">5 joueurs</option>
            <option value="6">6 joueurs</option>
            <option value="7">7 joueurs</option>
            <option value="8">8 joueurs</option>
        </select>
        <br><br>
        <a routerLink="/joueurs" class= "btn btn-primary">Commencer la partie</a>
    </div>


</div>
