

#tout{
    display: flex; 
    flex-wrap: wrap; 
    width: 100vw;
}

.carte{
    width: 50%;
    text-align: center;
    border-left: 2px solid #3f2204;
    border-right: 2px solid #3f2204;
    border-top : 12px solid #3f2204;
}