  <div id="tout">
    <div class="carte" *ngFor="let joueur of srvJoueur.joueurs">
      <!-- <div>{{ joueur.pseudo }}</div> -->
        <div>
              <div class="card-body">
                <h5 class="card-title">{{ joueur.pseudo }}</h5>
              
                <div class = "images" style = "display: flex; justify-content: space-around; flex-wrap: wrap;" >
                  <img id="card" style = "width: 10vw; height: 30vh;" src="{{imgStr}}" *ngFor="let joueur of srvJoueur.joueurs">
                </div>
                <br>
                  <a href="#" class="btn btn-primary">Jouer !</a>
              </div>
        </div>
      </div>
  </div>

