<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand">Time's Bombr</a>

	<div class="collapse navbar-collapse">
		<ul class="navbar-nav">
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/accueil">Accueil</a>
			</li>

			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/produit">Gstion des joueurs</a>
			</li>

			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/employe">Partie de jeu</a>
			</li>
		</ul>
	</div>
</nav>

<button class="btn btn-danger m-1">test</button>
